/* Global CSS for skeleton */

.skeleton{
	background: #ddd;
	margin: 10px 0;
	border-radius: 15px;
}

.skeleton.text{
	width: 100%;
	height: 12px;
}

.skeleton.title {
	width: 50%;
	height: 20px;
	margin-bottom: 15px;
}

.skeleton.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.skeleton.thumbnail {
	width: 100px;
	height: 100px;
}
.skeleton.largeBox{

}
.skeleton.image{
	width: 500px;
	height: 500px;
}

.skeleton-wrapper{
	position: relative;
	margin: 20px auto;
	padding: 10px 15px;
	border-radius: 15px;
	overflow: hidden;
}

/* Skleleton profile */
.skeleton-profile{
 display: grid;
 grid-template-columns: 1fr 2fr;
 gap: 30px;
 align-items: center;
}

/* Skeleton full center*/
.skeleton-container.full-center{
	display: flex;
}
.skeleton-container.full-center .skeleton-wrapper{
	margin: auto;
	width: 75%;
	padding: 5rem;
}
.skeleton-container.full-center .image{
	margin: 0 auto 3rem;
}
.skeleton-container.full-center .title{
	margin-bottom: 2rem;
}
.skeleton-container.full-center .text{
	width: 70%;
}
.skeleton-container.full-center .skeleton-single-post .text:nth-last-child(2) {
	width: 30%;
	height: 20px;
	margin-left: auto;
	margin-top: 2rem;
}
/* Skeleton weather */
.skeleton-wrapper.weather{
}
.skeleton-container.weather{
	display: grid;
	grid-template-areas:
		"box1 box2"
		"box1 box3";
	grid-gap: 2rem 3rem;
	height: CALC(100vh - 16rem);
	margin-top: 9rem;
}
.skeleton-container .skeleton-wrapper.weather:nth-child(1){
	grid-area: box1;
	width: 100%;
}
.skeleton-container .skeleton-wrapper.weather:nth-child(2){
	grid-area: box2;
	width: 100%;
}
.skeleton-container .skeleton-wrapper.weather:nth-child(3){
	grid-area: box3;
	width: 100%;
	margin-top: 0;
}

/* Themes */
.skeleton-wrapper.light{
	/* background: #f2f2f2; */
	background: #f9f9f9b5;
}
.skeleton-wrapper.dark {
	background: #444;
}
.skeleton-wrapper.dark .skeleton{
	background: #777;
}

/* Animation */
.shimmer-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	animation: loading 2.5s infinite;
}
.shimmer{
	width: 50%;
	height: 100%;
	/* background: rgba(255, 255, 255, 0.3); */
	background: rgba(255, 255, 255, 0.11);
	transform: skewX(-20deg);
	box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.05);
}
.dark .shimmer{
	background: rgba(255, 255, 255, 0.05);
}

@keyframes loading {
	0% {transform: translateX(-150%)}
	50% {transform: translateX(-60%)}
	100% {transform: translateX(150%)}
}