$base-background: #171c48
$menu-base-background: rgba(40, 48, 112, 0.5)
$pushFromNav: 3em

//background: hsla(258, 39%, 45%, 1);

$base-gradiant: linear-gradient(135deg, hsla(258, 39%, 45%, 1) 0%, hsla(262, 58%, 35%, 1) 25%, hsla(251, 41%, 44%, 1) 50%, hsla(196, 68%, 67%, 1) 71%, hsla(241, 56%, 72%, 1) 100%)

$base-gradiant-light: linear-gradient(to top, #accbee 0%, #e7f0fd 100%)

//background: -moz-linear-gradient(135deg, hsla(258, 39%, 45%, 1) 0%, hsla(262, 58%, 35%, 1) 25%, hsla(251, 41%, 44%, 1) 50%, hsla(196, 68%, 67%, 1) 71%, hsla(241, 56%, 72%, 1) 100%);

//background: -webkit-linear-gradient(135deg, hsla(258, 39%, 45%, 1) 0%, hsla(262, 58%, 35%, 1) 25%, hsla(251, 41%, 44%, 1) 50%, hsla(196, 68%, 67%, 1) 71%, hsla(241, 56%, 72%, 1) 100%);

//filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#61469e", endColorstr="#4c268d", GradientType=1 );

// media queries
$breakpoint-phone: 640px
$breakpoint-tablet: 768px
$breakpoint-desktop: 1024px
