@use 'variables'

@mixin tab-content-style
	margin-top: 1em
	padding-bottom: 1em !important
	background-color: rgba(0, 0, 0, .5)
	border-radius: 20px

.dashboard-main
	background: variables.$base-gradiant
	padding-bottom: 6rem

.add-form-post-section
	margin-left: 3.5em

.new-post-form-wrapper
	margin-top: 3em

.tabs-content
	&.carousel
		&.carousel-slider
			height: 98vh !important
			.carousel-item
				&.active
					position: relative

.post-slides
	overflow: hidden
	height: 700px
	@media (max-width: 769px)
		height: unset

.fileinput-error
	padding: 1rem
	border-radius: 10px
	border: 1px solid red
	margin-top: 1rem

.autocomplete-content
	max-height: 30vh !important

.geoLocation-section
	margin-top: 2.5%
	margin-left: 1em !important
	& > span
		cursor: pointer
		& > p
			color: #fff
		& > p > :not(i)
			color: #fff
		& > p > i
			color: red

.greeting-section
	margin-left: variables.$pushFromNav + 2em
	& > h4
		margin-bottom: 0px
		font-weight: bold
		color: #fff
		font-family: 'Karma', serif
	& > h5
		margin-top: 0px
		color: #999aad
		font-family: 'Karma', serif

.searchbar-section > .row > div
	& > i
		color: white

.searchbar-section > .row > .input-field
	input[type=search]:focus
		&:not(.browser-default)
			background-color: unset

.post-carousel //! other page?
	height: 450px !important
	& > .post-carousel-item
		width: 270px !important
		height: 340px !important
		@media (max-width: 600px)
			width: 215px !important
			height: 281px !important

.post-carousel-section 
	margin-left: variables.$pushFromNav !important
	margin-top: 4em
	@media ( min-width: 1100px )
		margin-top: 1em
	@media ( max-width: 450px )
		margin-top: 0em

.carousel-item
	img
		border-radius: 30px
		object-fit: cover

.post-location-container
	position: absolute
	bottom: 0
	left: 15px
	color: white
	& > i
		color: lightgray
		font-size: 20px

.places-autocomplete
	& > i
		color: red
		cursor: pointer
		&.active
			color: red

.datepicker-section
	& > i:last-child
		cursor: pointer

.tab-content
	@include tab-content-style
	min-width: unset
	// min-height: 80px !important
	& > a
		margin: 0em 1em .5em 0em

.file-input-icon
	margin-right: 3px !important

input
	color: #fff

label
	color: #fff !important
