.root{
	grid-area: fileInput;
	border: 2px dotted lightblue;
	padding: 20px;
	margin: 20px;
	display: flex;
}

.fileInput{

}

.inputImg{

}

.inputText{

}

.inputValidateMsg{
	
}

.filePreviews{
	grid-area: filePreviews;
}
