@use 'variables'
@import 'components/loaders/skeletons/Skeleton.css'

html,
body,
body > div:first-child,
div#__next,
div#__next > div
	margin: 0
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, serif, 'Baloo 2', cursive

a
	color: inherit
	text-decoration: none

*
	box-sizing: border-box

.signin-content
	height: 100vh

#__next, #__next > div
	min-height: 100vh

.dark-theme, .light-theme
	min-height: 100%
.dark-theme
	background: variables.$base-gradiant

.light-theme
	background: variables.$base-gradiant-light

.outline
	&:focus
		outline: 1px solid white !important
		outline-width: 1px !important

:root
	--primaryBackground: linear-gradient(135deg, hsl(258deg, 39%, 45%) 0%, hsl(262deg, 58%, 35%) 25%, hsl(251deg, 41%, 44%) 50%, hsl(196deg, 68%, 67%) 71%, hsl(241deg, 56%, 72%) 100%) !important
	--primaryBoxShadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2)
	--defaultBoxBorderRadius: 20px
	--primaryHeaderFont: Karma,serif

.Typewriter
	min-height: 110px

	.autocomplete-suggestions-wrapper
		background-color: #fff
		position: absolute
		z-index: 9
		left: 14%
		min-width: 205px
		top: 31px
	& > li
		padding: 4px 1rem
		font-size: 14px
		&:nth-child(odd)
			background-color: #f2f2f2
		&:hover
			background-color: rgba(0, 0, 0, 0.14)
			cursor: pointer
