
#new-post-form{
  &.main {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas: "nav wrap";
    background: var(--primaryBackground);
  }
  /* Custom nav-tabs */
  .tab-content {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    display: block;
    border-radius: 0 0 .25em .25em;
  
    .tab-pane {
      text-align: left;
      padding: 10px;
      display: none;

      &.active{
        display: block;
      }
  
      h3 {
        margin: 0;
      }
    }
  }
  
  .cd-breadcrumb {
    padding: 6px 7px;
    margin: 0;
    background-color: transparent;
    border-radius: .25em .25em 0 0;
  
    &.nav-tabs {
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: none;
    }
  
    &.nav-tabs>li.active>a,
    &.nav-tabs>li.active>a:hover,
    &.nav-tabs>li.active>a:focus {
      color: #ffffff;
      background-color: #144677;
      border: 0px solid #144677;
      cursor: default;
    }
  
    &.nav-tabs>li>a {
      margin-right: inherit;
      line-height: inherit;
      height: 48px;
      border: inherit;
      border-radius: inherit;
      border-color: #edeff0;
    }
  
    li {
      display: inline-block;
      float: left;
      margin: 0.5em 0;
  
      &::after {
        /* this is the separator between items */
        display: inline-block;
        content: '\00bb';
        margin: 0 .6em;
        color: tint(#144677, 50%);
      }
  
      &:last-of-type::after {
        /* hide separator after the last item */
        display: none;
      }
    }
  
    li>* {
      /* single step */
      display: inline-block;
      font-size: 1.4rem;
      color: #144677;
    }
  
    li.current>* {
      /* selected step */
      color: #144677;
    }
  
    & a:hover {
      /* steps already visited */
      color: #144677;
    }
  
    &.custom-separator li::after {
      /* replace the default arrow separator with a custom icon */
      content: '';
      height: 16px;
      width: 16px;
      vertical-align: middle;
    }
  
    li {
      margin: 1.2em 0;
  
      &::after {
        margin: 0 1em;
      }
    }
  
    li>* {
      font-size: 1.6rem;
    }
  }
  
  .cd-breadcrumb.triangle {
    li {
      position: relative;
      padding: 0;
      margin: 0 4px 0 0;
  
      &:last-of-type {
        margin-right: 0;
      }
  
      .octicon {
        margin-right: 10px;
      }
    }
  
    li>* {
      position: relative;
      padding: 0.8em .8em 0.7em 2.5em;
      color: #333;
      background-color: #edeff0;
      /* the border color is used to style its ::after pseudo-element */
      border-color: #edeff0;
    }
  
    li.active>* {
      /* selected step */
      color: #ffffff;
      background-color: #144677;
      border-color: #144677;
    }
  
    li:first-of-type>* {
      padding-left: 1.6em;
      border-radius: 4px 0 0 4px;
    }
  
    li:last-of-type>* {
      padding-right: 1.6em;
      border-radius: 0 .25em .25em 0;
    }
  
    a:hover {
      /* steps already visited */
      color: #ffffff;
      background-color: #144677;
      border-color: #144677;
      text-decoration: none;
    }
  
    li::after,
    li>*::after {
      /*
            li > *::after is the colored triangle after each item
            li::after is the white separator between two items
        */
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      content: '';
      height: 0;
      width: 0;
      /* 48px is the height of the <a> element */
      border: 24px solid transparent;
      border-right-width: 0;
      border-left-width: 20px;
    }
  
    li::after {
      /* this is the white separator between two items */
      z-index: 1;
      -webkit-transform: translate(4px, 0);
      -ms-transform: translate(4px, 0);
      -o-transform: translate(4px, 0);
      transform: translate(4px, 0);
      border-left-color: #ffffff;
      /* reset style */
      margin: 0;
    }
  
    li>*::after {
      /* this is the colored triangle after each element */
      z-index: 2;
      border-left-color: inherit;
    }
  
    li:last-of-type::after,
    li:last-of-type>*::after {
      /* hide the triangle after the last step */
      display: none;
    }
  }
}