@use 'variables'

.weather
	display: grid
	grid-template-columns: 50px 1fr
	grid-template-rows: 80px 1fr
	grid-template-areas: ".header" "nav wrap"
	background: variables.$base-gradiant
	padding: 0
	*
		box-sizing: border-box
	h2
		grid-area: header
		color: #fff
		margin-left: 2rem
	.weather-container
		grid-area: wrap
		margin: auto
		display: flex
		height: 100%
		width: calc(100% - 4rem)
		max-width: 2048px
		column-gap: 2rem
		align-items: center
		.container-1, .container-2
			flex-basis: 50%
			height: 75%
			max-height: 646px
		.container-1
			background-color: rgba(158, 158, 158, 0.17)
			border-radius: 20px
			padding: 1.5rem
			.current-wrapper
				height: 100%
				position: relative
				.searchBox i
					cursor: pointer
				.weather-info-container
					display: flex
					flex-direction: column
					align-items: center
					.main-temp
						position: relative
						color: #fff
						& span:first-child
							font-size: 8em
							font-weight: 300
						& span:last-child
							position: absolute
							top: 2rem
							font-size: 2em
		.container-2
			display: flex
			flex-direction: column
			row-gap: 2rem
			.additional-wrapper, .history-wrapper
				height: 307px
				padding: 1.5rem
				background-color: rgba(158, 158, 158, 0.17)
				border-radius: 20px
				.chips
					max-width: 700px
					margin: 1rem auto
					.chip
						cursor: pointer
						text-transform: capitalize

.vertical-line
	border-left: 2px solid #fff

.weather-icon
	width: 120px

.location-info
	display: flex
	.name-date
		display: flex
		flex-direction: column
		align-self: center
		color: #fff
		.name
			font-size: 24px
		.date
			font-size: 18px
			font-weight: lighter

.additional-info.desktop-only
	display: block
.additional-wrapper.mobile-only
	display: none

.additional-info
	width: 100%
	max-width: 400px
	color: #fff
	.info-container-1
		margin: 1.5rem 0
	.info-container-1, .info-container-2
		display: flex
		justify-content: center
		align-content: center
		margin-bottom: 1.5rem
		& div:last-child, & div:first-child
			width: 50%
			display: flex
			& span:last-child
				margin-left: auto
		.vertical-line
			margin: 0 1rem
		img
			width: 23px
			margin-right: 1rem

.light-settings
	position: absolute
	color: #fff
	top: 1.5rem
	right: 0
	z-index: 3

.dropdown-content
	label
		color: #000

@media (max-width: 930px)
	.weather h2
		font-size: 2rem
	.weather .weather-container
		flex-direction: column
		margin-top: 2rem
		row-gap: 2rem
		.container-1, .container-2
			width: 100%
			max-width: 700px
			min-width: 490px

@media ( max-width: variables.$breakpoint-phone-XXL )
	.weather
		.weather-container
			width: calc(100% - 2rem)
			.container-1, .container-2
				min-width: unset

	.main-temp
		& span:first-child
			font-size: 5rem !important
			& span:last-child
				top: 1.4rem !important
				font-size: 1.5em !important

	.name-date
		.name
			font-size: 21px !important
		.date
			font-size: 15px !important

	.weather-icon
		width: 85px

	.additional-info.desktop-only
		display: none

	.additional-wrapper.mobile-only
		display: flex
		padding: 0 !important

	.additional-info
		max-width: unset
		width: 100%
		color: #fff
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: flex-start
		.info-box
			flex: 0 0 calc( 33.333% - 0rem )
			min-width: calc( 33.333% - 0rem )
			display: flex
			flex-direction: column
			align-items: center
			padding: 1rem 0
			&:not(:nth-child(n+4):nth-child(-n+6))
				border-bottom: 1px solid #1800ff17
			&:not(:nth-child(3), :last-child)
				border-right: 1px solid #1800ff17

			& > img
				width: 27px
