@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navigation {
  grid-area: nav;
}

.weather {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-areas: "nav wrap";
  background: linear-gradient(135deg, hsl(258deg, 39%, 45%) 0%, hsl(262deg, 58%, 35%) 25%, hsl(251deg, 41%, 44%) 50%, hsl(196deg, 68%, 67%) 71%, hsl(241deg, 56%, 72%) 100%);
  padding: 0;
}

.weatherContainersContainer {
  grid-area: wrap;
  margin: auto;
  display: flex;
  height: 100%;
  width: calc(100% - 4rem);
  max-width: 2048px;
  column-gap: 2rem;
  align-items: center;
}

.mainTempContainer, .chipsHistoryContainer {
  flex-basis: 50%;
  min-height: 646px;
}

.mainTempContainer {
  background-color: rgba(158, 158, 158, 0.17);
  border-radius: 20px;
  padding: 1.5rem;
}
.mainTempContainer .currentWrapper {
  height: 100%;
  position: relative;
}
.mainTempContainer .currentWrapper .searchBox i {
  cursor: pointer;
}
.mainTempContainer .currentWrapper .weatherMainInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chipsHistoryContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.chipsHistoryContainer .chipsContainer, .chipsHistoryContainer .historyContainer {
  height: 307px;
  padding: 1.5rem;
  background-color: rgba(158, 158, 158, 0.17);
  border-radius: 20px;
}
.chipsHistoryContainer .chipsContainer .chips, .chipsHistoryContainer .historyContainer .chips {
  max-width: 700px;
  margin: 1rem auto;
}
.chipsHistoryContainer .chipsContainer .chips > div, .chipsHistoryContainer .historyContainer .chips > div {
  cursor: pointer;
  text-transform: capitalize;
}

.verticalLine {
  border-left: 2px solid #fff;
  margin: 0 1rem;
}

.weatherIcon {
  width: 120px;
  filter: drop-shadow(0 4px 12px rgba(158, 158, 158, 0.35));
}

.weatherIcon.errorIcon {
  width: unset;
  font-size: 76px;
  color: #fff;
  margin-right: 2rem;
  margin-top: 1rem;
}

.mainTemp {
  position: relative;
  color: #fff;
}
.mainTemp .temp {
  font-size: 8em;
  font-weight: 300;
}
.mainTemp .unit {
  position: absolute;
  top: 2rem;
  font-size: 2em;
}

.locationInfo {
  display: flex;
}

.nameDate {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: #fff;
}
.nameDate .name {
  font-size: 24px;
}
.nameDate .name img {
  margin-left: 0.5rem;
}
.nameDate .date {
  font-size: 18px;
  font-weight: lighter;
}

.toolBox {
  display: flex;
  position: absolute;
  right: 0;
  top: 1rem;
  row-gap: 0.25rem;
  flex-direction: column;
}

.bookmarkIcon {
  cursor: pointer;
  color: #fff;
}

.rotateIcon {
  animation: rotate 2s linear 3;
  color: #fff;
  font-weight: bold;
}

.lightSettings {
  position: relative;
  color: #fff;
  z-index: 3;
}

.customDropdownContent {
  width: max-content;
  height: fit-content;
}

.additionalInfoMobileWrapper.mobileOnly {
  display: none;
}

.additionalInfo {
  margin-top: 2rem;
  width: 100%;
  max-width: 400px;
  color: #fff;
}
.additionalInfo.desktopOnly {
  display: block;
}

.infoContainerTop, .infoContainerMiddle, .infoContainerBottom {
  display: flex;
  justify-content: center;
  align-content: center;
}
.infoContainerTop div:last-child, .infoContainerTop div:first-child, .infoContainerMiddle div:last-child, .infoContainerMiddle div:first-child, .infoContainerBottom div:last-child, .infoContainerBottom div:first-child {
  width: 50%;
  display: flex;
}
.infoContainerTop div:last-child span:last-child, .infoContainerTop div:first-child span:last-child, .infoContainerMiddle div:last-child span:last-child, .infoContainerMiddle div:first-child span:last-child, .infoContainerBottom div:last-child span:last-child, .infoContainerBottom div:first-child span:last-child {
  margin-left: auto;
}
.infoContainerTop img, .infoContainerMiddle img, .infoContainerBottom img {
  width: 23px;
  margin-right: 1rem;
}

.infoContainerMiddle, .infoContainerBottom {
  margin-bottom: 1.5rem;
}

.infoContainerTop {
  margin-block: 1.5rem;
}

@media (max-width: 930px) {
  .weatherContainersContainer {
    flex-direction: column;
    padding-block: 2rem;
    row-gap: 2rem;
    margin: 0 auto;
  }

  .mainTempContainer, .chipsHistoryContainer {
    width: 100%;
    max-width: 700px;
    min-width: 490px;
    min-height: unset;
  }

  .mainTempContainer {
    min-height: unset;
  }
}
@media (max-width: 640px) {
  .toolBox {
    right: unset;
    left: 0;
  }

  .weatherContainersContainer {
    width: calc(100% - 2rem);
  }

  .mainTempContainer, .chipsHistoryContainer {
    min-width: unset;
  }

  .mainTempContainer {
    flex-basis: auto;
  }

  .chipsContainer, .historyContainer {
    height: auto !important;
  }

  .weatherIcon {
    width: 85px;
  }

  .mainTemp .temp {
    font-size: 5rem;
  }
  .mainTemp .unit {
    top: 1.4rem;
    font-size: 1.5em;
  }

  .nameDate .name {
    font-size: 21px;
  }
  .nameDate .date {
    font-size: 15px;
  }

  .additionalInfo.desktopOnly {
    display: none;
  }

  .additionalInfoMobileWrapper.mobileOnly {
    display: flex;
    padding: 0;
    border-radius: 20px;
  }
  .additionalInfoMobileWrapper.mobileOnly .additionalInfo {
    margin-top: 0;
    max-width: unset;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .additionalInfoMobileWrapper.mobileOnly .infoBox {
    flex: 0 0 calc(33.333% - 0rem);
    min-width: calc(33.333% - 0rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(24, 0, 255, 0.0901960784);
    border-right: 1px solid rgba(24, 0, 255, 0.0901960784);
  }
  .additionalInfoMobileWrapper.mobileOnly .infoBox.no-bottom-border {
    border-bottom: none;
  }
  .additionalInfoMobileWrapper.mobileOnly .infoBox.no-right-border {
    border-right: none;
  }
  .additionalInfoMobileWrapper.mobileOnly .infoBox > img {
    width: 27px;
  }
}

/*# sourceMappingURL=weatherComponents.module.css.map */
